
/*principal----------------------------------*/
.corpo{
    min-height: calc(100vh - var(--altura_header) - var(--altura_footer));
    
}

/*página*/
.meio{
    text-align: justify;
    margin-left: 18%;
    margin-right: 18%;
}

/*títulos*/
.titulo{
    text-align: center;
    font-size: 30px;
    border: 1px solid var(--main_color);
    /*background-color: var(--main-hover-color);*/
    font-weight:normal;
}

/* DIV DAS IMAGENS */
.div_imagem{
    text-align: center;
    padding: 50px;
}

.div_imagem_grande{
    text-align: center;
}

.imagem_texto{
    font-size: 18px;
}

.imagem{
    max-width: 60vw;
    max-height: 40vw;
    height: auto;

}

/*video youtube*/
iframe{
    aspect-ratio: 16/9;
    width: 100%;
    max-width: 600px;
}

/*Botões*/
.botoes{
    display: flex;
    flex-direction: column;
    text-align: center;

}

/*elemento*/
.botoes li{
    display: flex;
    padding: 20px 0px;
    align-self: center;
}

/*link*/
.botoes a{
    height: 100%;
    padding: 20px;
    text-decoration: none;
    color: var(--main_color);
    background-color: var(--button-color);
    border-radius: 20px;
    border: 2px solid var(--main_color);
    align-items: center;
}

.botoes a:hover{
    background-color: var(--button-hover-color);
    color: var(--main_color);
}

hr{
    border-color: var(--main_color);
}

@media (width < 485px){
    .meio{
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media (width < 980){
    .imagem{
        padding: 0px;
    }
}