@import url(style.css);
@import url(header.css);
@import url(estrutura.css);
@import url(footer.css);
@import url(botão_top.css);

/*imagem 1*/

.img_celulas_tronco{
    width: auto;
    min-height: 200px;
}


/*Imagens*/
.img_tipos{
    width: 40vw;
    max-width: 230px;
    border-radius: 100%;
    margin: 20px;
    border: 2px solid transparent;
}

.img_tipos:hover{
    cursor: pointer;
    border: 2px solid var(--main_color);
}


/*Ajeitar blocos*/
.bloco-flex{
    display: flex;
    margin: 40px;
    align-items: center;
    border: 2px solid var(--main_color);
    border-radius: 20px;
    padding: 20px;
    
}

.bloco{
    text-align: center;
}

.texto-um, .texto-dois, .texto-tres{
    font-size: 0px;
    transition: font-size 1s; /*aparecer e dasaparecer*/
}


@media (width < 1088px){
    .bloco-flex{
        flex-direction: column;
        margin: 30px 10px;
    }

}

