@import url(style.css);
@import url(header.css);
@import url(estrutura.css);
@import url(footer.css);
@import url(botão_top.css);

/*imagem 1*/

.img_cientistas{
    width: 65vw;
    max-width: 500px;

}

fieldset{
    border-color: var(--main_color);
    border-radius: 20px;
    margin: 30px 15%;
    padding: 10px;
}

.lista_dificuldades{
    margin: 30px 10%; 
}

h4{
    text-align: center;
}

@media(width < 673px){
    fieldset{
        margin: 30px 5%;
    }
}