@import url(style.css);
@import url(header.css);
@import url(estrutura.css);
@import url(footer.css);
@import url(botão_top.css);
 
/*imagem 1*/

.img_cemiterio{
    width: 100vw;
    max-width: 100%; /*não ultrapassar o body*/
    height: 50vh;


    object-fit: cover;
    border-bottom: solid var(--main_color) 2px
}

.clique{
    padding: 20px;
}

.clique:hover{
    cursor: pointer;
    background-color: var(--main_color);
    color: var(--body-color);
    opacity: 0.8;
    border-radius: 5px;
}

/*Ajeitar blocos*/
.bloco-flex{
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
    border: 2px solid var(--main_color);
    border-radius: 20px;
    padding: 20px;
    
}

.bloco{
    text-align: center;
}

.texto-um, .texto-dois, .texto-tres{
    padding: 5px;
    font-size: 0px;
    transition: font-size 1s; /*aparecer e dasaparecer*/
}


@media (width < 1088px){
    .bloco-flex{
        flex-direction: column;
    }

}

